.icon{
    width: 150px;
    height: 150px;
}

ion-button{
    margin-bottom: 1rem;
}

.slider {
    height: 600px;
    width: 400px;
    }
    .slider-slide {
     height: 100%;
     width: 100%;
    } 
