ion-img{
    width: 250px;
    height: 250px;
}

ion-button{
    margin-bottom: 1rem;
}


.slider {
    height: 600px;
    width: 400px;
    }
    .slider-slide {
     height: 100%;
     width: 100%;
    } 
