<ion-header class="ion-no-border fondo" translucent mode="ios" >

  <ion-toolbar color="dark">
    <ion-title class="text-big" text-capitalize>Inicio</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="fondo" style="top: 15%;">

  <ion-card class="contenido">
    <ion-segment value="usuario">
      <ion-segment-button value="anonimo">
        <ion-label>Anonimo</ion-label>
      </ion-segment-button>
      <ion-segment-button value="usuario">
        <ion-label>Usuario</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-card-header translucent>
      <ion-card-title class="ion-text-center"><strong>¡Bienvenido!</strong></ion-card-title>
      <ion-card-subtitle  class="ion-text-center">
        <ion-icon class="icon" name="person-circle-sharp"></ion-icon>

      </ion-card-subtitle>
  
    </ion-card-header>

    <ion-card-content mode="md" class="home">
      <form [formGroup]="loginForm" (submit)="onLogin()">
        <ion-item lines="full" [class.invalid]="isNotValidField('email')">
          <ion-label><strong>Email: </strong></ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
          <ion-note *ngIf="isNotValidField('email')" slot="error">{{getErrorMessage('email')}}</ion-note>
        </ion-item>
  
        <ion-item lines="full" style="margin-bottom: 2rem;" [class.invalid]="isNotValidField('pass')">
          <ion-label><strong>Password: </strong></ion-label>
          <ion-input formControlName="pass" type="password"></ion-input>
          <ion-note *ngIf="isNotValidField('pass')" slot="error">{{getErrorMessage('pass')}}</ion-note>
        </ion-item>
  
        <ion-button class="ion-activatable ripple-parent" 
        shape="round" expand="block">
          <ion-icon slot="start" name="person"></ion-icon>
          Iniciar sesión
        </ion-button>

        <ion-button color="light" slot="end" class="text-small" routerLink="/registro" 
        shape="round" expand="block">
          Registrarse
        </ion-button>
      </form>


    </ion-card-content>
  </ion-card>

  

</ion-content>

      <!-- <button class="eye" slot="end" ion-button icon-only type="button">
        <ion-icon name="eye-outline"> </ion-icon>
        <ion-icon name="eye-off-outline"> </ion-icon>
      </button>
      <ion-fab vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button class="users" color="light">
          <ion-icon name="person-circle-sharp" style="font-size: 100px; color: cornflowerblue;"></ion-icon>
        </ion-fab-button>
        
        <ion-fab-list side="buttom" >
          <div>
            <ion-fab-button class="users">
              <label>Aasd</label>
            </ion-fab-button>
          </div>
        </ion-fab-list>
      </ion-fab> -->
