@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.input-light-validation{
    --background: #ffffff;
    --color: black;
  
    --border-style: solid;
    --border-width: 1px;
  
    --border-radius: 50px;
    margin-bottom: 1rem;

    --highlight-height: 0;
    --highlight-color-focused: rgb(70, 144, 223);
    --highlight-color-valid: rgb(98, 231, 46);
    --highlight-color-invalid: rgb(70, 144, 223);
}

.invalid-input{
    --highlight-color-invalid: rgb(231, 71, 46);
}